body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  min-height: 735px;
}

img {
  max-width: 100%;
}
.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.venom {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 728px;
  width: 50%;
  max-height: 724px;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 55px;
}

.logo-link {
  display: inline-block;
  margin-right: 50px;
}

.logo-image {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.logo-image:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  color:white;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-menu-item {
  margin-right: 30px;
}

.nav-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.nav-menu-link:hover {
  color:white;
}

.film-date {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 2%;
  color: rgba(255, 255, 255, 0.8);
}

.film-description {
  margin-top: 3%;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 423px;
}

.film-logo {
  width: 70%;
}

.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.button-text,
.button-icon {
  display: inline-block;
  vertical-align: middle;
}

.button-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.button-primary {
  background-color: #fff;
  color: #8D0019;
  outline: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.button-primary:hover {
  box-shadow: inset 0 0 5px 5px rgba(141, 0, 25,0.5);
}

.button-link {
    color: #fff;
}

.button-group {
  margin-top: 5%;
}


.blood {
  background: url(../img/blood.png) no-repeat top right, #14131A url(../img/backgroud.jpg) no-repeat center center / 100%;
}

.not-blood {
  background: #14131A url(../img/backgroud.jpg) no-repeat center center / 100%;
}

.content {
  display: flex;
}

.col {
  flex-basis: 50%;
}

.content-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  margin-top: 0;
}

.content-text {
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 432px;
  margin-bottom: 30px;
}

.content-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
  margin-top: 0;
}

.content .list {
  list-style: none;
  padding: 0;
}

.list-item {
  line-height: 1.5;
}

.column-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  max-width: 350px;
}

.content .trailer {
  width: 356px;
  height: 205px;
  background: url(../img/trailer-cover-2.png) no-repeat center / contain;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
}

.trailer .play {
  width: 45px;
  height: 45px;
  border-radius:50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  outline: none;
}

.trailer .play:hover {
  background-color: #fff;
}

.trailer .play-icon {
  transform: translate(15px,14px);
  -webkit-transform: translate(15px,14px);
  -moz-transform: translate(15px,14px);
  -ms-transform: translate(15px,14px);
  -o-transform: translate(15px,14px);
}

.poster-wrapper {
  display: flex;
  align-items: flex-start;
}

.poster {
  width: 362px;
  height: 555px;
  border-radius: 5px;
  margin-right: 30px;
}

.poster-wrapper .content-subtitle {
  margin-bottom: 5px;
}

.poster-wrapper .list {
  margin: 0;
  margin-bottom: 20px;
}

.menu-button {
  display: none;
}

.menu-close {
  display: none;
}

.premier-bg {
  background-image: url(../img/blood.png); 
  background-position: 100% 90%;
  background-repeat:no-repeat;
}

.premier-img {
  width: 85%;
  border-radius: 5px;
}

.premier-img-2 {
  margin-top: 11%;
  margin-bottom: 7%;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.facts-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  margin-top: 0;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-block-logo img {
  padding: 35px;
}

.container-bg {
  background-image:url(../img/venom-bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}



/* медиа */
@media (max-height:2557px) {
  body {
    height: 100vh;
  }

  .blood {
    background: url(../img/blood.png) no-repeat 70% center, #14131A;
  }
  
  .venom {
    max-width: 100%;
    max-height: 100%;
  }

  .film-date {
    font-size: 45px;
    line-height: 70px;
  }

  .film-logo {
    width: 90%;
  }

  .film-description {
    font-size: 35px;
    line-height: 45px;
    max-width: 1000px;
  }

  .nav-menu-link {
    font-size: 30px;
  }

  .button {
    padding: 27px 30px;
  }

  .button-text {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 1024px) {
  .content {
    padding-bottom: 5%;
  }

  .poster {
    width: 350px;
    height: 550px;
  }

  .col {
    margin-bottom: 5%;
    width: 50%;
  }

  .header {
    margin-bottom: 4%;
  }

  .film {
    margin-top: 20%;
  }
}

@media (max-width: 800px) {
  .premier-img {
    display: none;
  }

  .premier-img-2 {
    margin-bottom: 5%;
  }

  .content-text {
    max-width: 90%;
    margin-bottom: 0;
  }

  .carnage {
    display: inline-block;
    width: 90%;
    margin-top: 5%;
  }

  .facts-title {
    margin-top: 0;
  }

  .col {
    margin-bottom: 0;
  }
}

@media (width: 800px) {
  .poster {
    width: 165px;
    height: 250px;
    margin-left: 15%;
  }
}

@media (max-width: 768px) {
  .blood {
    background: url(../img/blood.png) no-repeat top right 200%, #14131A url(../img/backgroud.jpg) no-repeat center center / 100%;
  }

  .venom {
    top: 20%;
  }
}

@media (max-width: 576px) {

  .nav {
    margin-left: auto;
  }

  .nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

  .nav-menu-item {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 0;
  }

  .nav-menu-link {
    color:#14131a;
  }

  .menu-close {
    position: fixed;
    opacity: 0;
    right: 25px;
    top: 65px;
    display: flex;
    align-items: center;
    z-index: 10;
    border:none;
    background-color: #fff;
    cursor: pointer;
    transform: translateX(100%);
    -webkit-transform: translateX(300%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition-delay: 0.2s;
}

.is-active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
}

  .menu-close-text {
    margin-right: 10px;
  }

  .blood {
    background: url(../img/blood.png) no-repeat top right 100%, #14131A;
    overflow-x: hidden;
    width: 100%;
  }

  .not-blood {
    background: url(../img/blood.png) no-repeat top right 100%, #14131A;
    overflow-x: hidden;
    width: 100%;
  }

  .logo-image {
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .menu-button {
    display: flex;
    margin-bottom: 37px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: #14131a;
    cursor: pointer;
    color:#fff;
    z-index: 10;
  }

  .menu-button-text {
    margin-right: 10px;
  }

  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .film-text {
    text-align: center;
  }

  .poster-wrapper {
    flex-direction: column;
  }

  .poster {
    margin-bottom: 4%;
    margin-right: 0;
    max-width: 360px;
    width: 100%;
    height: 100%;
  }

  .content .trailer {
    max-width: 360px;
    width: 100%;
  }

  .creators {
    column-count:3;
    column-width: 90px;
    column-gap:10px;
    height: 85px;
    text-align: center;
    overflow: hidden;
  }

  .list-item-creators {
    line-height: 1.2;
  }
}

@media (max-width:414px) {

  body {
    min-height: 100%;
  }

  .blood {
    background: url(../img/blood.png) no-repeat 100% 50%, #14131A;
    background-size: 70%;
  }

  .poster {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
  }

  .content {
    flex-direction: column;
    padding-bottom: 0;
  }

  .col {
    width: 100%;
  }

  .content-subtitle {
    margin-top: 5%;
  }

  .list-item-creators {
    font-size: 16px;
  }

  .venom {
    width: 40%;
    top: 15%;
  }

  .content-text {
    max-width: 100%;
  }

  .premier-img-2 {
    margin: 20px auto;
    width: 100%;
  }
}

@media (max-width:375px) {
  .list-item-creators {
    font-size: 15px;
  }
}

@media (max-width:320px) {

  .creators {
    column-count:1;
    margin: 0 auto;
    height: 100%;
  }
  .col {
    margin-bottom: 0;
  }

  .content .trailer {
    margin-top: 0;
  }
} 